!!! html
html
  head
    meta(charset='UTF-8')
    title Slideshare Remote
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Slideshare远程控制器
    h2 使用方法
    h3 1.将下面的链接拖到收藏夹
    p
      a(href="javascript: function remote_slideshare() {var d = document,z = d.createElement('scr' + 'ipt'),b = d.body;try {if (!b) throw (0);z.setAttribute('src', 'http://www.ipad321.com:7788/javascripts/slides.js');b.appendChild(z);} catch (e) {alert('Please wait until the page has loaded.');}}remote_slideshare();void(0)") Slideshare Remote
    hr
    p 如果是Safari浏览器，请先将当前页保存到收藏夹，然后将地址用下面内容替换：
    textarea(cols='50', rows='10') javascript: function remote_slideshare() {var d = document,z = d.createElement('scr' + 'ipt'),b = d.body;try {if (!b) throw (0);z.setAttribute('src', 'http://www.ipad321.com:7788/javascripts/slides.js');b.appendChild(z);} catch (e) {alert('Please wait until the page has loaded.');}}remote_slideshare();void(0)
    h3 2.打开<a href="http://slideshare.net">slideshare.net</a>中的幻灯片，点击收藏夹里头的"Slideshare Remote"链接，会出现二维码
    img(src='/images/qrcode.jpg', width='300px', height='300px')
    h3 3.用Android/iPhone中的二维码扫描软件扫描该二维码，建立远程控制链接
    img(src='/images/mobile.jpg', width='240px', height='400px')
    h3 4.这时候你就可以通过手机控制slide了^_^

    p flash的幻灯片暂不支持远程控制全屏