h1 Drop the link to bookmarks
  a(href="javascript: function remote_slideshare() {var d = document,z = d.createElement('scr' + 'ipt'),b = d.body;try {if (!b) throw (0);z.setAttribute('src', 'http://www.ipad321.com:7788/javascripts/slides.js');b.appendChild(z);} catch (e) {alert('Please wait until the page has loaded.');}}remote_slideshare();void(0)") Slideshare Remote
