!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
  body
    input#next(type='button', value='Next')
    input#prev(type='button', value='Prev')