!!! html
html
  head
    title SlideShare Remote
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css')
    script(src='http://code.jquery.com/jquery-1.6.4.min.js')
    script(src='http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js')
    script(src='/socket.io/socket.io.js')
    script
      $(function(){
        var slideId = '#{slideId}';
        var socket = io.connect();
  
        socket.on('connect', function(){
          socket.emit('mobile_start', {slideId: slideId});
        });

        socket.on('no_slide_socket', function(){
          socket.disconnect();
          alert("No Remote Slides");
        });

        $('#next').click(function(){
          socket.emit('mobile_next', {slideId: slideId});
        });
        
        $('#prev').click(function(){
          socket.emit('mobile_prev', {slideId: slideId});
        });
      });
  body
    div(data-role='page')
      div(data-role='header')
        h1 SlideShare Remote
      div(data-role='content')
        a#prev(href='#', data-role='button', data-icon='arrow-l', data-inline="true", data-iconpos='top') Prev
        a#next(href='#', data-role='button', data-icon='arrow-r', data-inline="true", data-iconpos='top') Next